/* * {
  box-sizing: border-box;
} */

body{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#10c20a;
  background: #070707;
  font-family: Array-Regular;

  
  


  height: 100vh;
}

/* Grid */
.layout {
  /* Set your own grid   */
  display: grid;
  margin:50px;
  min-width: 320px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* Widgets */
section {
  background: rgb(7,7,7);
  padding: 1em;
  /* border: 2px solid red; */
  
  /* Relative Parent. Absolute Child */
  position: relative;

  text-shadow: 1px 1px 10px rgba(18, 223, 28, 0.4), 
  2px 2px 20px rgba(18, 223, 28, 0.4), 
  3px 3px 30px rgba(18, 223, 28, 0.4), 
  4px 4px 40px rgba(18, 223, 28, 0.4);
}

/* Time */
.time {
  font-size: 250px;
  text-align: center;

}

.hours {
}

.minutes {
}

.seconds {
}

.amOrPM {
  
}

/* Date */
.date {

  font-size: 25px;
  
}

.month {
}

.dayOfMonth {
}

.year {
}

.dayOfWeek {
}

/* Weather */
.weather {

  font-size: 20px;
  text-align: end;
  vertical-align: top;
  
}

.city {
  
}

.temp {
  
}

.weather img {
  
}

.colon {
}
